*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #000430;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin-top: 120px;
    margin: 120px auto 0 auto;
}

.head{
    border: 2px solid rgba(160, 38, 160, 0.867);
    border-radius: 15px;
    display: flex;
    padding: 30px;
    gap: 50px;
    width: 100%;
    justify-content: space-between
}

.righthead{
    height: 100px;
    width: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bolder;
}

.progress{
    height: 10px;
    width: 92%;
    background-color: #171c48;
    margin-top: 30px;
    border-radius: 10px;
}

.progressline{
    background-color: rgb(78, 236, 236);
    height: 10px;
    width: 10%;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.lefthead{
    width: 72%;
}

.inputbox{
    display: flex;
    margin-top: 40px;
    gap: 22px;
}

.input{
    width: 26rem;
    height: 31px;
    border-radius: 10px;
    background-color: #171c48;
    border: 2px solid rgb(78, 236, 236);
    padding: 10px;
    color: white;
    font-size: large;
    
}

.plus{
    background-color: purple;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    color: white;
}

.plus:hover{
    box-shadow: 0px 0px 15px teal;
}

.taskitem{
    display: flex;
    margin-top: 40px;
    gap: 22px;
    margin-left: -61px;
}

.task{
    width: 26rem;
    height: 31px;
    border-radius: 10px;
    background-color: #171c48;
    border: 2px solid rgb(78, 236, 236);
    padding: 13px;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.checkbox{
    height: 32px;
    width: 18px;
    margin-right: -72px;
    cursor: pointer;
}

.p{
    margin-right: 55px;
    margin-top: 3px;
}

/*.ri-edit-box-fill{
    color: purple;
    font-size: 29px;
    cursor: pointer;
}

.ri-delete-bin-6-line{
    color: red;
    font-size: 29px;
    cursor: pointer;
}*/

.icons{
    color: purple;
    font-size: 29px;
    cursor: pointer;

}

.edit{
    height: 33px;
    width: 34px;
    border-radius: 50%;
}

.edit:hover{
    box-shadow: 0px 0px 50px teal;
}

.task.completed p {
    text-decoration: line-through;
    color: teal;
}